:root {
    --color-theme-green: rgb(69, 106, 69);
    --color-theme-blue: rgb(53, 111, 203);
    --color-theme-red: rgb(201, 45, 45);
    --color-theme-light: rgb(243, 243, 243);
    --color-theme-border: rgb(216, 216, 216);
    --color-theme-white: rgb(248, 248, 248);
    --color-theme-dark: rgb(60, 60, 60);
    --color-theme-darker: rgb(29, 29, 29);
    --color-theme-bg-logo: rgb(0, 0, 0, 0.6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    font-family: "Roboto";
    background-color: var(--color-theme-light);
}

@font-face {
    font-family: Norse;
    src: url(Norse-Bold.otf);
}

/* --------------------- Styles ----------------------*/
.left-container {
    width: max(40%, 300px);
    height: max(100vh, 600px);
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.left-container div.logo-box {
    width: 100%;
    height: 150px;
    background-color: var(--color-theme-bg-logo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container div.logo-box img {
    height: 90%;
}

.left-container div.logo-box h1 {
    font-family: Norse, "Franklin Gothic Medium", "Arial Narrow", Arial,
        sans-serif;
    font-weight: lighter;
    font-size: 5rem;
    color: var(--color-theme-white);
}

.left-container p.img-credits {
    color: var(--color-theme-light);
    align-self: flex-end;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}

.left-container p.img-credits a {
    color: var(--color-theme-light);
    text-decoration: none;
}

/*------------------------------------------------------------*/

.right-container {
    /* width: clamp(450px, 60%, 700px); */
    width: 60%;
    flex: 3;
}

.right-container div.disclaimer {
    padding: 0 3rem;
    height: 30%;
    width: clamp(12rem, 80%, 100%);
    min-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.right-container div.disclaimer p.text-disclaimer {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 2rem;
}

/*----------------------Form--------------------------*/

.right-container form.form-container {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.right-container form.form-container h2 {
    width: 100%;
    height: 10%;
    align-self: flex-end;
    padding: 0.5rem 3rem 0;
    color: var(--color-theme-darker);
    background-color: var(--color-theme-white);
}

.right-container form.form-container div.input-container {
    width: 100%;
    background-color: var(--color-theme-white);
    height: max(40%, 200px);
    display: flex;
    align-self: flex-start;
}

.right-container form.form-container div.input-container div.input-fields-left,
.right-container
    form.form-container
    div.input-container
    div.input-fields-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
    padding-left: 3rem;
    text-transform: uppercase;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--color-theme-dark);
}

.right-container form.form-container div.bottom-container {
    width: 100%;
    height: 30%;
    padding: 0 3rem;
    align-self: flex-start;
}

label {
    margin: 1rem 0 0.1rem;
    letter-spacing: 1px;
}

label.input-required::after {
    content: " *";
    color: var(--color-theme-red);
    font-size: 1rem;
}

input {
    width: 14rem;
    height: 1.5rem;
    background-color: var(--color-theme-white);
    border: 1px solid var(--color-theme-border);
    border-radius: 3px;
}

input:user-invalid {
    background-color: var(--color-theme-light);
    border: 1px solid var(--color-theme-red);
  }

.right-container form.form-container div.bottom-container input.submit-btn {
    width: 12rem;
    height: 2rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--color-theme-white);
    background-color: var(--color-theme-green);
    border-radius: 5px;
    margin-bottom: 1rem;
}

.right-container
    form.form-container
    div.bottom-container
    input.submit-btn:hover {
    text-shadow: 0 0 1px var(--color-theme-white);
    cursor: pointer;
}

.right-container form.form-container div.bottom-container p.create-acc {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
}

.right-container form.form-container div.bottom-container p.create-acc a {
    color: var(--color-theme-green);
    font-weight: bold;
    text-decoration: none;
}
